@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap'); /*font-family: 'Lato', sans-serif;*/

  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    --bg-purple: #6D67D0;
    --text-green: #87EBCD;
    --text-white: #DAD8F7;
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  main {
    @apply
    w-screen
    h-screen
    box-border
    bg-[url('./assets/Background.png')]
    bg-no-repeat
    bg-cover
  }

  /* ESTA FLEX, MAS VAI SER GRID DEPOIS!!! */
  .containerMain {
    @apply
    h-full
    flex
    justify-center
    items-center
  }
}

