@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap'); /*font-family: 'Lato', sans-serif;*/

  :root {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    overflow-y: hidden;;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    --bg-purple: #6D67D0;
    --bg-purple60:#6660C899;
    --text-green: #87EBCD;
    --text-purple: #C2BFF4;
    --text-white: #DAD8F7;
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  main {
    @apply
    h-full
    box-border
    bg-[url('./assets/Background.png')]
    bg-no-repeat
    bg-cover
  }

  .containerMain {
    @apply
    grid
    grid-cols-4
    grid-rows-2
    py-[9rem]
    px-[8.625rem]
  }
}

